.container {
		display: flex;
}
.card {
	width: 20rem;
}

/* for tablet view port */
@media (max-width: 700px) {
	.container {
		display:inline-block;
		width:1300px;
		overflow-x: auto;
		border: solid 2px red;
		white-space: nowrap;
	}

	.card {
		width: 300px;
		display:inline-block;
	}
}

/* reset for mobile again */
@media (max-width: 550px) {
.container {
	display:block;
	width:100%;
	overflow-x: visible;
	border: solid 2px blue;
	white-space: normal;
}

.card {
	width: 100%;
	display:block;
}
}
.bg-faded {
    background-color: #000000;
}
#navbarSupportedContent ul li a {
	color: white;
}
.navbar-nav a{
	background-color: black;
	transition-duration: 0.4s;
}
.navbar-nav a:hover {
    color: rgba(86, 79, 79,.4);
}
.container img {

}
.border {
	border: none;
}
.back {
	background-color: black;
}
.text {
	color: #bfbfbf;
}
ul {
	list-style-type: none;
}
.icons {
	height: 24px;
	width: 24px;
}

.carousel-caption {

}
.img {
	width: 100%;
}
.imgbg {
	padding-top: 34.5%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}
.img1 {
	background-image: url('carousel1.png');
}
.img2 {
	background-image: url('carousel2.png');
}
.img3 {
	background-image: url('carousel3.png');
}

.cap1 {
	background-color: rgba(0, 0, 0,0);
	z-index: 20;
	top: 30%;
	left: 0;
	text-align: left;
	margin-left: 10%;
	width: 25%;
}
.cap1 h4 {
	font-size: .75em;
}
.cap2 {
	background-color: rgba(0, 0, 0,0);
	z-index: 20;
	top: 10%;
	left: 0;
	text-align: left;
	margin-left: 10%;
	width: 25%;
}
.cap2 div p {

}
.cap3 {

}
.topicons {
	height: 1em;
}
.description {
	background-color: rgba(0,0,0,.5);
	padding: 3%;
}
.description p {
	font-size: .75em;
}
.caphead h3 {
	font-weight: bold;
	font-size: 2em;
}
.drive {
	height: 25%;
}